.slider h3,
.slider h5 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8)
}

section,
footer {
    padding: 20px;
}

.carousel-item p {
    color: black;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.other {
    font-weight: bold;
    margin-top: 0;
}

.other:hover {
    color: blueviolet !important;
    text-decoration: underline;
}

.about {
    padding-bottom: 100px;
}

.about h3,
.product h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.parallax-container {
    height: 250px;
}

.product h4 {
    padding-top: 10px;
}

.text {
    margin-bottom: 25px;
}

.text-form {
    margin-bottom: 25px;
}

.teks {
    display: block;
}

.teks2 {
    display: inline-block;
    margin-left: 5px;
}

.skip {
    margin-bottom: 0;
}

.kontener {
    margin-top: 30px;
}

.bold {
    font-weight: bold;
}

footer {
    background-color: #ee6e73;
}